@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

:root {
    --pink:#f5325c;
    --white: #fff;
    --black: #222;
    --transparent-white:rgba(255,255,255,.3);
    --border: .2rem solid var(--silver);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Merriweather', sans-serif;
  margin:0; 
  padding: 0;
  block-size: border-box;
  outline: none; 
  border: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--pink);
}

.container {
  border-radius: .5rem;
  overflow: hidden;
  background: var(--transparent-white);
  backdrop-filter: blur(.5rem);
  max-width: 1200px;
  margin:5rem auto;
  box-shadow: var(--box-shadow);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  block-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.url{
  opacity: .5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
