* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: var(--transparent-white);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 
.logo{
    font-size: 2.5rem;
    color:var(--black);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.home,
.about,
.portfolio,
.pricing,
.contact,
.login {
    text-decoration: none
    color(white);
    font-size: 2rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.mobile-menu-icon{
    display: none;
}

/* .header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--pink);
}

#menu-btn{
    font-size: 2.5rem;
    color:var(--black);
    cursor: pointer;
    display: none;
} */

@media screen and (max-width: 780px) {
    .log{
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
    }
    .nav-links {
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: aqua;
        left: 0;;
    }
}