.container {
    border-radius: .5rem;
    overflow: hidden;
    background: var(--transparent-white);
    backdrop-filter: blur(.5rem);
    max-width: 1200px;
    margin:5rem auto;
    box-shadow: var(--box-shadow);
  }

.footer {
    background: var(--transparent-white);
}

 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
 h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1 rem 0;

}

 a{
    display: block;
    font-size: 1.5rem;
    color: var(--black);
    padding: 1 rem 0;
}

 a i{
    color: var(--pink);
    padding-right: .5rem;
    transition: .2s linear;
}

 a:hover i{
    padding-right: 2rem;
}

.credit {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: var(--border);
    color:var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
}

 span {
    color: var(--pink);
}
